<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/recruitment.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/css/bootstrap.min.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body style="background-color: #f0f0f0;">

    <div class="container">
        {{ include('user/nav.twig') }}
        {% block body %}

        {% endblock %}
        {{ include('user/footer.twig') }}
    </div>
    {{ include('user/login.twig') }}
    {{ include('user/updateinformation.twig') }}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="{{ asset('vendor/js/jquery-3.5.1.js') }}"></script>
    <script src="{{ asset('vendor/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}

    {% endblock %}
</body>

</html>