{% extends 'base.html.twig' %}
{% block title %} listRecruitment {% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
<br>
{{ include('user/search.twig') }}
<div class="card">
    <div class="card-header">
        <div class="title">
            <h3>Tin tuyển dụng, việc làm tốt nhất dành cho bạn</h3>
        </div>
        <div class="link">
            <p>100 việc làm dành cho bạn</p>
        </div>
    </div>
    <div class="card-body">
        <div class="content content-right col-12">
            <div class="content-wrapper">
                <a href="{{ url('recruitmentDetail') }}" class="article row m-0">
                    <div class="logo-company col-2 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/banvien.jpg')"></div>
                    </div>
                    <div class="card-title col-10">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-4">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-4">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                            <span class="footer-card col-4">
                                <i class="fa fa-clock-o"></i> Cập nhật : 07/06/2020 8h:24
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-right col-12">
            <div class="content-wrapper">
                <a href="{{ url('recruitmentDetail') }}" class="article row m-0">
                    <div class="logo-company col-2 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/banvien.jpg')"></div>
                    </div>
                    <div class="card-title col-10">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-4">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-4">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                            <span class="footer-card col-4">
                                <i class="fa fa-clock-o"></i> Cập nhật : 07/06/2020 8h:24
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-right col-12">
            <div class="content-wrapper">
                <a href="{{ url('recruitmentDetail') }}" class="article row m-0">
                    <div class="logo-company col-2 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/banvien.jpg')"></div>
                    </div>
                    <div class="card-title col-10">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-4">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-4">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                            <span class="footer-card col-4">
                                <i class="fa fa-clock-o"></i> Cập nhật : 07/06/2020 8h:24
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-right col-12">
            <div class="content-wrapper">
                <a href="{{ url('recruitmentDetail') }}" class="article row m-0">
                    <div class="logo-company col-2 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/banvien.jpg')"></div>
                    </div>
                    <div class="card-title col-10">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-4">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-4">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                            <span class="footer-card col-4">
                                <i class="fa fa-clock-o"></i> Cập nhật : 07/06/2020 8h:24
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-right col-12">
            <div class="content-wrapper">
                <a href="{{ url('recruitmentDetail') }}" class="article row m-0">
                    <div class="logo-company col-2 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/banvien.jpg')"></div>
                    </div>
                    <div class="card-title col-10">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-4">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-4">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                            <span class="footer-card col-4">
                                <i class="fa fa-clock-o"></i> Cập nhật : 07/06/2020 8h:24
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
          </ul>
    </div>
</div>
{% endblock %}